body {
    background-color: #181A1B;
    /* background-color:beige; */
}

h2 {
    color:#4A60C8;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

p {
    color:azure;
}

.card {
    background-color: #2b2b2b; 
    
}

/* .card-body {
    background-color: #181A1B;;
} */

.folder {
    /* border-style: solid; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    /* border-radius: 15px; */
    background-color: #1C1E1F;
}

.top-2-rem {
    margin-top: 2rem;
}



.videoCol {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



/* remove later */
/* .container {
    border-style: solid;
    border-color: black;
}


.row {
    border-style: solid;
    border-color:blue;
}

.col {
    border-style: solid;
    border-color:brown;
} */


form label{
    color: #fff;
  }

  input[type="text"], textarea {

    background-color : #d1d1d1; 
  
  }